<div fxLayout="row wrap">
    <!-- column -->
    <div fxFlex.gt-lg="66" fxFlex.gt-md="66" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <div class="clearfix">
                    <div class="float-right">

                        <div *ngIf="service.statusMainServer ; else statusMainFalse" class="text-success-d">*status main
                            service</div>
                        <ng-template #statusMainFalse>
                            <div class="text-danger">*status main service</div>
                        </ng-template>

                        <div *ngIf="service.stautsGlexServer ; else statusGlexFalse" class="text-success-d">*status glex
                            service</div>
                        <ng-template #statusGlexFalse>
                            <div class="text-danger">*status glex service</div>
                        </ng-template>
                    </div>
                </div>
                <section>
                    <mat-card-title>Storage Word</mat-card-title>
                    <mat-card-subtitle>This word created from glex service page according to word type.</mat-card-subtitle>
                    <div>
                        <mat-checkbox class="mr-1" [(ngModel)] = "iCheck"
                            (click)="checkAll()">Check All</mat-checkbox>
                    </div>
                    <span *ngFor="let item of service.storeCoppy  let i = index">
                        <mat-checkbox class="mr-1" [(ngModel)]="service.storeCoppy[i].status"
                            >
                        </mat-checkbox>
                        <a class="mr-3" [style.color]="service.colorDict[item.name]"
                            [(colorPicker)]="service.colorDict[item.name]" [cpOKButton]="true"
                            [cpOKButtonText]="'Select'" [cpCancelButton]="true" [cpSaveClickOutside]="'false'"
                            [cpDisableInput]="false" [cpAlphaChannel]="'disabled'" [cpOutputFormat]="'hex'"
                            [cpAddColorButton]="true" style="cursor: pointer"><span>{{item.text}}
                                ({{item.words.size}})</span></a>
                    </span>
                    <section class="clearfix">
                        <button mat-raised-button color="primary" class="float-right mt-3 mr-2"
                          (click)="writeFileText()" >Download Text</button>
                    </section>

                    <hr>
                    <section  *ngFor="let item of service.storeCoppy  let i = index">
                        <div class="mb-3 " id="target">
                                <div *ngIf="item.status">
                                    <span class="font-weight-bold" [style.color]="service.colorDict[item.name]">{{item.text}}</span>
                                    <mat-nav-list class="pl-3 mt-n1">
                                        <li *ngFor="let word of item.words let i = index">
                                            {{word}}
                                        </li>
                                    </mat-nav-list>
                                </div>
                            </div>
                        <ejs-contextmenu target='#target' [items]='service.menuItems2'  (select)="service.itemSelect($event)"></ejs-contextmenu>
                    </section>
                   
                    
                </section>
            </mat-card-content>
        </mat-card>

    </div>
    <!-- column -->
    <!-- column -->
    <div fxFlex.gt-lg="33" fxFlex.gt-md="33" fxFlex.gt-xs="100" fxFlex="100">
        <!-- side output file -->
        <mat-card >
            <mat-card-content>
                <div class="ml-4">
                    <mat-card-title>Search</mat-card-title>
                    <mat-card-subtitle>You can search word or prefix</mat-card-subtitle>
                    <mat-form-field class="w-50">
                        <mat-label>Search</mat-label>
                        <input matInput placeholder="Search for a word" [(ngModel)]="service.prefix" (keyup.enter)="service.search(service.prefix)">
                    </mat-form-field>
                    <button *ngIf="service.prefix.trim() != ''" mat-raised-button color="primary"
                        (click)="service.search(service.prefix)">Search</button>

                    <hr>
                    <span *ngIf="service.lengSearch >=0">ผลลัพธ์ทั้งหมด {{service.lengSearch}} รายการ</span>
                    <mat-nav-list class="pl-3">
                        <li *ngFor="let item of service.listSearch let i = index">
                            {{item}}
                        </li>
                    </mat-nav-list>
                </div>
            </mat-card-content>
   
        </mat-card>
    </div>
    <!-- column -->
</div>